.vs
Skid Protect/bin/Debug/netcoreapp3.1/Skid Protect.dll
Skid Protect/bin/Debug/netcoreapp3.1/Skid Protect.pdb
Skid Protect/obj/Debug/netcoreapp3.1/Skid Protect.csprojAssemblyReference.cache
Skid Protect/obj/Debug/netcoreapp3.1/Skid Protect.dll
Skid Protect/obj/Debug/netcoreapp3.1/Skid Protect.pdb
